body { background: #c1582a; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 21px; display: flex; }
.block-uploader-0 { color: #b5f03b; font-size: 18px; margin-bottom: 5px; }
.block-payment-1 { color: #8a83af; font-size: 18px; margin-bottom: 5px; }
.block-product-2 { color: #bed8a3; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #eb7105; font-size: 19px; margin-bottom: 5px; }
.block-metrics-4 { color: #9915c0; font-size: 13px; margin-bottom: 5px; }